.logo {
    margin-bottom: 20px;
}

nav ul {
     background-color: #6B41B2;
     overflow: hidden;
     list-style-type: none;
     margin: 0;
     padding: 0;
     width: 300px;
     border: 1px solid #555;
}

nav li a {
    float: left;
    display: block;
    color: #f2f2f2;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
    margin: 10px;
}

div.news {
    float: left;
    border: 1px solid #555; 
    box-sizing: border-box;
    margin-top: 30px;
    margin-bottom: 30px;
}

div.left {
    border: 1px solid #555; 
    max-width: 25%;
    display: inline-block;
    text-align: center;
}

div.left p {
    text-align: center;
}

.rogue {
    max-height: 50%;
    max-width: 50%;
}

div.right {
    float: right;
    border: 1px solid #555; 
    max-width: 25%;
    display: inline-block;
    text-align: center;
}

div.right p {
    text-align: center;
}

.jones {
    max-height: 50%;
    max-width: 50%;
}